
* {
  margin: 0;
}

.nav-cont {
  background: linear-gradient(to bottom, #0021A5 86%, #FA4616 30%);
  text-align: center;
  height: 50px;
}

button{
  background-color: #FA4616;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  color: #0021A5;
}
button:active {
  transform: translateY(5px);
}


#dropDown {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:#C8C8C8;
  border: 2px solid black;
  width: 140px;
  height: 30px;
  border-radius: 6px;
}


label {
  color: #0021A5;
  font-weight: bold;
  font-size: 20px;
}
.searchButton {
  margin: 10px 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
}

#displayButton {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;

}

#title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-style: italic;
  padding-top: 5px;
  color: #FA4616;
}

.main{
  margin-top: 20px;
}

span{
  text-shadow:
          -1px -1px 0 black,
          1px -1px 0 black,
          -1px 1px 0 black,
          1px 1px 0 black;
}

.uh{
  background-color:black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  background-color: white;
  width: 90%;
  /* max-width: 1200px; */
  /* min-width: 400px; */
  /* height: 500px; */
  display: flex;
  justify-content: center;
}


.search-buttons {
  display: flex;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
