
* {
  margin: 0;
}

.nav-cont {
  background: linear-gradient(to bottom, #0021A5 80%, #FA4616 10%);
  text-align: center;
  height: 50px;
}

#title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-style: italic;
  padding-top: 5px;
  color: #FA4616;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  background-color: white;
  width: 90%;
  /* max-width: 1200px; */
  /* min-width: 400px; */
  /* height: 500px; */
  display: flex;
  justify-content: center;
}

.search-buttons {
  display: flex;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
